<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout" lang="ko">
<th:block layout:fragment="content">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">회원가입</h3>
                    </div>
                    <div class="card-body">
                        <!-- 회원가입 폼 추가 -->
                        <form th:action="@{/signup}" method="post">
                            <div class="form-group">
                                <label for="email">이메일:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="password">비밀번호:</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <div class="form-group">
                                <label for="name">이름:</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">회원가입</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
