<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout" lang="ko">
<th:block layout:fragment="content">
    <style>
        .card-img-top {
            object-fit: cover;
            height: 250px; /* 원하는 높이로 조절 */
        }
    </style>
    <div class="container mt-5">
        <h1 class="text-center">이벤트 목록</h1>
        <div class="row mt-4">
            <!-- 이벤트 카드 반복 -->
            <div th:each="event : ${events}" class="col-md-4 mb-4">
                <div class="card">
                    <img th:src="${event.imageUrl}" class="card-img-top" alt="Event Image">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${event.title}"></h5>
                        <p class="card-text" th:text="'시작일: ' + ${#temporals.format(event.startAt, 'yyyy년 MM월 dd일')}"></p>
                        <p class="card-text" th:text="'장소: ' + ${event.streetAddress + ' ' + event.detailAddress}"></p>
                        <p class="card-text" th:text="'담당자: '+${event.manager.name}"></p>

                        <a th:href="@{'/event/' + ${event.id}}" class="btn btn-primary btn-sm">자세히 보기</a>
                        <a th:href="@{'/contact/' + ${event.manager.id}}" class="btn btn-primary btn-sm">문의하기</a>
                        <a th:href="@{'/apply/' + ${event.id}}" class="btn btn-primary btn-sm">신청하기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 모달 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">모달 타이틀</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- 모달 내용 -->
                    <p>모달 내용을 입력하세요.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary">저장</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
