<!DOCTYPE html>
<html lang="ko" layout:decorate="layout/default_layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="content">
    <style>
        .form-group, .submit-form {
            margin-bottom: 20px;
        }

        .submit-form {
            margin-top: 20px;
        }
    </style>
    <div class="container mt-5">
        <h1 class="text-center">이벤트 생성</h1>
        <form th:action="@{/event/create}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">이벤트 제목</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>

            <div class="form-group">
                <label for="content">이벤트 내용</label>
                <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
            </div>

            <div class="form-group">
                <label for="zipCode">우편번호</label>
                <input type="text" class="form-control" id="zipCode" name="zipCode" required>
            </div>

            <div class="form-group">
                <label for="streetAddress">도로명 주소</label>
                <input type="text" class="form-control" id="streetAddress" name="streetAddress" required>
            </div>

            <div class="form-group">
                <label for="detailAddress">상세 주소</label>
                <input type="text" class="form-control" id="detailAddress" name="detailAddress" required>
            </div>

            <div class="form-group">
                <label for="startAt">시작 일시</label>
                <input type="datetime-local" class="form-control" id="startAt" name="startAt" required>
            </div>

            <div class="form-group">
                <label for="endAt">종료 일시</label>
                <input type="datetime-local" class="form-control" id="endAt" name="endAt" required>
            </div>

            <div class="form-group">
                <label for="multipartFile">이벤트 대표 이미지</label>
                <input type="file" class="form-control" id="multipartFile" name="multipartFile">
            </div>

            <button type="submit" class="btn btn-primary">이벤트 생성</button>
            <button type="button" class="btn btn-secondary" onclick="location.href='/event/my'">취소하기</button>
        </form>
    </div>
</th:block>
</html>