<!DOCTYPE html>
<html lang="ko" layout:decorate="layout/default_layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="content">
    <h1 class="text-center">회원 권한 추가</h1>

    <div class="card mt-4">
        <div class="card-body">
            <form th:action="@{/user/add-role}" method="post">
                <div class="form-group">
                    <label for="role">역할:</label>
                    <select name="role" id="role" class="form-control">
                        <option th:each="role : ${T(ac.kr.deu.connect.luck.user.UserRole).values()}" th:value="${role}" th:text="${role}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">추가</button>
            </form>
        </div>
    </div>
</th:block>
</html>
