<!DOCTYPE html>
<html lang="ko" layout:decorate="layout/default_layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="content">
    <div class="container mt-5">
        <h1 class="text-center">회원 정보 수정</h1>
        <form method="post" th:action="@{/user/update}">
            <div class="form-group">
                <label for="email">이메일:</label>
                <input class="form-control" disabled id="email" name="email" th:value="${userUpdateForm.email}" type="email">
            </div>
            <div class="form-group">
                <label for="password">비밀번호:</label>
                <input class="form-control" id="password" name="password" required type="password">
            </div>
            <div class="form-group">
                <label for="name">이름:</label>
                <input class="form-control" id="name" name="name" required th:value="${userUpdateForm.name}" type="text">
            </div>
            <div class="form-group">
                <label for="phoneNumber">휴대폰 번호:</label>
                <input class="form-control" id="phoneNumber" name="phoneNumber" required th:value="${userUpdateForm.phone}" type="text">
            </div>
            <button class="btn btn-primary" type="submit">저장</button>
        </form>
    </div>
</th:block>
</html>
