<!DOCTYPE html>
<html lang="ko" layout:decorate="layout/default_layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="content">
    <div class="container mt-5">
        <h1 class="text-center">마이프로필</h1>
        <div class="card mt-4">
            <div class="card-body">
                <p th:text="'이름: ' + ${user.name}"></p>
                <p th:text="'이메일: ' + ${user.email}"></p>
                <p th:text="'역할: ' + ${user.role}"></p>
            </div>
        </div>
    </div>
</th:block>
</html>
