<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout" lang="ko">
<th:block layout:fragment="content">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center mb-4">About Us</h1>
                <p>
                    안녕하세요! 우리는 푸드트럭을 매칭시켜주는 서비스를 제공하는 팀입니다.
                    우리의 목표는 다양한 음식 트럭과 사용자들을 연결하여 특별한 이벤트나 일상적인 모임에서
                    맛있는 음식을 경험할 수 있도록 도와드리는 것입니다.
                </p>
                <p>
                    푸드트럭은 다양한 음식 카테고리에서 활동하고 있습니다.
                    우리의 서비스를 통해 원하는 음식 트럭을 찾고, 행사나 모임에 신청할 수 있습니다.
                    맛있는 음식과 함께 특별한 순간을 만들어보세요!
                </p>
                <p>
                    언제든지 푸드트럭 서비스에 관한 질문이나 도움이 필요하면
                    <a href="/contact">여기</a>로 연락해 주세요.
                    함께 맛있는 경험을 만들어 나갈 수 있기를 기대합니다!
                </p>
            </div>
        </div>
    </div>
</th:block>
</html>
