<!DOCTYPE html>
<html lang="ko" layout:decorate="layout/default_layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="content">
    <link rel="stylesheet" th:href="@{/style/css/index.css}"/>
    <div class="carousel slide" data-ride="carousel" id="myCarousel">
        <ol class="carousel-indicators">
            <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
            <li data-slide-to="1" data-target="#myCarousel"></li>
            <li data-slide-to="2" data-target="#myCarousel"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img alt="First slide" class="bd-placeholder-img" focusable="false" height="100%" preserveAspectRatio="xMidYMid slice"
                     role="img" src="https://i.namu.wiki/i/hvpODJQ46uu5dwhjEl0dMg0We6JpjLVQXGx0_44ez-D6YEqEm330Mgt6tp-jOAHQiFYqASM7hg2i1qTi1EOmyw.webp" width="100%"
                     xmlns="http://www.w3.org/2000/svg"/>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>행사에 필요한 푸드트럭을 찾고있나요</h1>
                        <p>전국팔도의 푸드트럭 데이터를 보유중입니다.</p>
                        <p>바로 연락주세요</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img alt="First slide" class="bd-placeholder-img" focusable="false" height="100%" preserveAspectRatio="xMidYMid slice"
                     role="img" src="https://www.sisain.co.kr/news/photo/202306/50578_92831_1687430214.jpg" width="100%"
                     xmlns="http://www.w3.org/2000/svg"/>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>행사를 찾고있나요</h1>
                        <p>여기서 행사를 찾아보세요</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <img alt="First slide" class="bd-placeholder-img" focusable="false" height="100%" preserveAspectRatio="xMidYMid slice"
                     role="img" src="https://velog.velcdn.com/images/jeon/post/4a6b3845-fbda-424e-be3f-898f39acb1a6/image.png" width="100%"
                     xmlns="http://www.w3.org/2000/svg"/>
                <div class="container">
                    <div class="carousel-caption text-right">
                        <h1>푸드트럭이 어디있는지 알고싶나요</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam
                            id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" data-slide="prev" href="#myCarousel" role="button">
            <span aria-hidden="true" class="carousel-control-prev-icon"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" data-slide="next" href="#myCarousel" role="button">
            <span aria-hidden="true" class="carousel-control-next-icon"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container marketing">

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">합리적인 비용으로 이벤트를 찾아드립니다. </h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
                    cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <svg aria-label="Placeholder: 500x500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" focusable="false"
                     height="500" preserveAspectRatio="xMidYMid slice" role="img" width="500"
                     xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title>
                    <rect fill="#eee" height="100%" width="100%"/>
                    <text dy=".3em" fill="#aaa" x="50%" y="50%">500x500</text>
                </svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">후기를 통해 검증된 푸드트럭을 찾으세요.</h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
                    cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <svg aria-label="Placeholder: 500x500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" focusable="false"
                     height="500" preserveAspectRatio="xMidYMid slice" role="img" width="500"
                     xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title>
                    <rect fill="#eee" height="100%" width="100%"/>
                    <text dy=".3em" fill="#aaa" x="50%" y="50%">500x500</text>
                </svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">타코야끼 푸드트럭을 찾고있진 않나요</h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
                    cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <svg aria-label="Placeholder: 500x500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" focusable="false"
                     height="500" preserveAspectRatio="xMidYMid slice" role="img" width="500"
                     xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title>
                    <rect fill="#eee" height="100%" width="100%"/>
                    <text dy=".3em" fill="#aaa" x="50%" y="50%">500x500</text>
                </svg>
            </div>
        </div>

        <hr class="featurette-divider">
    </div>
</th:block>
</html>
