<!DOCTYPE html>
<html lang="ko" layout:decorate="layout/default_layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="content">

    <style>
        img.card-img-top {
            height: 450px;
            width: 100%;
            object-fit: contain;
        }
    </style>


    <h1 class="text-center">폼 수정</h1>
    <div class="container mt-5">
        <img alt="Food Truck Image" class="card-img-top d-flex justify-center " th:src="${foodTruckOriginal.imageUrl}">
    </div>
    <div class="container mt-5">
        <form enctype="multipart/form-data" method="post" th:action="|/food-truck/${foodTruckOriginal.id}/edit|" th:object="${foodTruck}">
            <div class="form-group">
                <label for="name">이름:</label>
                <input class="form-control" id="name" name="name" required th:value="${foodTruck.name}" type="text">
            </div>
            <div class="form-group">
                <label for="description">설명:</label>
                <textarea class="form-control" id="description" name="description" required th:text="${foodTruck.description}"></textarea>
            </div>

            <div class="form-group">
                <label for="foodType">카테고리:</label>
                <select class="form-control" id="foodType" name="foodType" required>
                    <option th:each="foodType : ${T(ac.kr.deu.connect.luck.food_truck.entity.FoodType).values()}"
                            th:selected="${foodType == foodTruck.foodType.toString()}"
                            th:text="${foodType}" th:value="${foodType}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="image">이미지:</label>
                <input accept="image/*" class="form-control" id="image" name="image" type="file">
            </div>

            <button class="btn btn-primary" type="submit">수정</button>
            <button class="btn btn-danger" th:id="delete" th:onclick="|location.href='/food-truck/' + ${foodTruckOriginal.id} + '/delete'|"
                    type="button">삭제
            </button>
        </form>
    </div>
</th:block>
</html>
