<!DOCTYPE html>
<html lang="ko" layout:decorate="layout/default_layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="content">
    <h1 class="text-center">사진 변경 기능</h1>

    <div class="container mt-5">
        <form enctype="multipart/form-data" method="post" th:action="|/food-truck/${foodTruck.id}/edit.photo|">
            <input name="foodTruckId" th:value="${foodTruck.id}" type="hidden">
            <div class="form-group">
                <label for="image">사진:</label>
                <input accept="image/*" class="form-control" id="image" name="image" required type="file">
            </div>
            <button class="btn btn-primary" type="submit">변경</button>
        </form>
    </div>


</th:block>
</html>
