<!DOCTYPE html>
<html lang="ko" layout:decorate="layout/default_layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="content">

    <script>
        const model = document.getElementById('addFoodTruck');
        const btn = document.getElementById('addMenuBtn');

        btn.addEventListener('click', () => {
            model.style.display = 'block';
        });
    </script>
    <h1 class="text-center">내 푸드트럭</h1>

    <div class="container mt-5">
        <!-- 신규 푸드트럭 등록 버튼 -->
        <div class="col-md-4 mb-4">
            <bottn class="btn btn-primary" data-target="#addFoodTruck" data-toggle="modal" id="addMenuBtn">신규 푸드트럭 등록</bottn>
        </div>
        <div class="row">
            <!-- Food Truck 카드를 표시하는 반복문 -->
            <div class="col-md-4 mb-4" th:each="foodTruck : ${foodTrucks}">
                <div class="card">
                    <!-- Food Truck 이미지 -->
                    <img alt="Food Truck Image" class="card-img-top" th:src="${foodTruck.imageUrl}">
                    <div class="card-body">
                        <!-- Food Truck 이름 -->
                        <h5 class="card-title
                        " th:text="${foodTruck.name}"></h5>
                        <!-- Food Truck 설명 -->
                        <p class="card-text" th:text="${foodTruck.description}"></p>
                        <!-- Food Truck 카테고리 -->
                        <p class="card-text" th:text="${foodTruck.foodType.name()}"></p>
                        <button class="btn btn-primary"
                                th:onclick="|location.href='/food-truck/' + ${foodTruck.id} + '/edit'|" type="button">수정
                        </button>
                        <button class="btn btn-primary"
                                th:onclick="|location.href='/food-truck/menu/' + ${foodTruck.id}|" type="button">메뉴 수정
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--신규 푸드트럭 추가 모달 폼-->
    <div aria-hidden="true" aria-labelledby="addFoodTruckModalLabel" class="modal fade" id="addFoodTruck" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addFoodTruckModalLabel">신규 푸드트럭 등록</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" method="post" th:action="|/food-truck/register|"
                          th:object="${foodTrucksRegisterForm}">
                        <div class="form-group">
                            <label for="name">이름:</label>
                            <input class="form-control" id="name" name="name" required type="text">
                        </div>
                        <div class="form-group">
                            <label for="description">설명:</label>
                            <textarea class="form-control" id="description" name="description" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="foodType">카테고리:</label>
                            <select class="form-control" id="foodType" name="foodType" required>
                                <option th:each="foodType : ${T(ac.kr.deu.connect.luck.food_truck.entity.FoodType).values()}"
                                        th:text="${foodType}" th:value="${foodType}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="image">이미지</label>
                            <input class="form-control" id="image" name="image" type="file">
                        </div>
                        <button class="btn btn-primary" type="submit">등록</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
