<!DOCTYPE html>
<html lang="ko" layout:decorate="layout/default_layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="content">
    <div class="container mt-5">
        <h1 class="text-center">후기 답변</h1>
        <form method="post" th:action="|/food-truck/${foodTruckId}/review/${reviewId}/reply|">
            <div class="form-group mt-3">
                <label for="content">내용:</label>
                <textarea class="form-control" id="content" name="content" required th:text="${review.getReply()}"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">등록</button>
        </form>
    </div>
</th:block>
</html>
